<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="MusicBuzzIncEntities" connectionString="metadata=res://*/AlbumDataModel.csdl|res://*/AlbumDataModel.ssdl|res://*/AlbumDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\temp\MusicBuzzInc.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAlbumService" />
        <binding name="BasicHttpBinding_IAlbumService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51653/AlbumService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAlbumService" contract="ServiceReference1.IAlbumService"
        name="BasicHttpBinding_IAlbumService" />
      <endpoint address="http://localhost:51653/AlbumService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAlbumService1" contract="AlbumServiceProxy.IAlbumService"
        name="BasicHttpBinding_IAlbumService1" />
    </client>
  </system.serviceModel>
</configuration>
